<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>

		<link rel="stylesheet" type="text/css" href="css/main.css"/>
	</head>
	<body ng-app="termApp">
		<div ng-controller="mainController">
			<div ng-repeat="line in output">
				<div class="commandPane" ng-bind-html="line.command">
				</div>
				<div ng-bind-html="line.result">
				</div>
			</div>
			<div class="commandPane">
				<input type="text" ng-model="command" ng-keypress="execute($event)" autofocus/>
			</div>
		</div>
	</body>

	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="./js/app.js"></script>
	<script src="./js/controllers/app.ctrl.js"></script>
	<script src="./js/types/Command.js"></script>
	<script src="./js/types/Terminal.js"></script>
	<script src="./js/interpreter/interpreter.service.js"></script>
	<script src="./js/interpreter/parser.service.js"></script>

</html>
