<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
		<script>
			// You can also require other files to run in this process
			require('./src/renderer.js');
		</script>
	</head>
	<body ng-app="termApp">
		<div ng-controller="mainController">
			<div ng-repeat="line in output">
				<div class="commandPane" ng-bind-html="line.command">
				</div>
				<div ng-repeat="result in line.results">
					<p ng-bind-html="result"></p>
				</div>
			</div>
			<div class="commandPane">
				<input type="text" ng-model="command" ng-keypress="execute($event)" autofocus/>
			</div>
		</div>
	</body>
</html>
