h1 {
	font-size: 16px;
	font-weight: bold;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
	font-style: italic;
}

h4 {
	font-size: 12px;
	font-style: italic;
}

.seg-box * {
    float: left;
}

.seg-box > .btn {
	border: none;
	width: inherit;
}

.seg-box > .btn > span {
	text-overflow: ellipsis;
    overflow: hidden;
}

/*.seg-box:hover .glyphicon, .seg-box.open .glyphicon {
	display: none;
}*/



.seg-box > span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-bottom: 1em;
	border-bottom-color: transparent;
}

#container {
	margin-bottom: 60px;
}

.navbar {
	z-index: 4;
}

.CodeMirror {
	height: auto;
	font-size: 12px;
}

.center {
	margin: 0 auto;
}

.native-command {
	white-space: pre-wrap;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

span.cm-command {
    border-style: solid;
    border-width: 2px;
    border-color: lightgrey;
	background-color: hsla(22, 16%, 77%, 0.54);
    padding: 5px 0;
    margin: -5px 0;
    border-radius: 3px;
}

.command-pane .form-control {
	margin-top: 10px;
	margin-bottom: 10px;
}

.command-pane .form-control.readonly {
	box-shadow: none;
}

.command-pane .CodeMirror {
	padding: 0;
	font-size: 14px;
	margin: -3px;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	height: auto;
}

.command-pane .form-control {
	height: auto;
}

.command-pane .form-control,
.command-pane .CodeMirror {
	background: #f5f2f0;
}

.command-pane .prev {
	white-space: pre-wrap;
}

.command-pane input {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}

.CodeMirror-hints {
	max-width: 90%;
}
